:root {
  --light-blue: #56dfff;
  --dark-blue: #202040;
  --neon-pink: #c734c7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

#header {
  padding: 15px;
  display: flex;
  position: relative;
  top: 0;
  justify-content: center;
  background-color: var(--dark-blue);
  align-items: center;
  color: white;
}

.logo-container {
  display: flex;
  align-items: center;
  margin-left: 15px;
}

.logo-img {
  margin-left: 10px;
  height: 80px;
  border-radius: 20px;
  border: 1px solid black;
}

.social-list {
  display: flex;
  list-style: none;
}

.list-item a {
  margin: 12px;
  text-decoration: none;
  color: inherit;
  min-width: 75px;
}

.list-item a:hover {
  color: var(--neon-pink);
}

.social-container {
  margin-right: 20px;
}

body {
  top: 0;
  left: 0;
  background-image: url("./imagens/neon-1.png");
  background-size: 100vw 100vh;
  background-attachment: fixed;
}

/*content items*/

#content {
  max-width: 1200px;
  margin: 0 auto;
}

.drinks-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 120px;
}
/* Items dos drinks*/

.drink {
  width: 250px;
  height: 250px;
  background-color: #fff;
  border-radius: 20px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.815);
}

.drink-img {
  width: 170px;
  height: 150px;
  border-radius: 10px;
}

.drink span {
  margin-top: 10px;
  text-align: center;
}

#form-search {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 140px;
}

.select {
  border-radius: 5px;
  background-color: white;
  margin-right: 7px;
  padding: 10px;
  width: 120px;
  border: none;
  outline: none;
  font-size: 16px;
  transition: 0.5s;
}

.select:focus {
  box-shadow: 2px 2px 20px #0404d6d8;
}

#search-input {
  margin-right: 10px;
  border-radius: 5px;
  padding: 12px;
  border: none;
  outline: none;
  width: 300px;
  transition: 0.5s;
}

#search-input::placeholder {
  color: #20204059;
  vertical-align: middle;
  font-size: 17px;
}

#search-input:focus {
  box-shadow: 2px 2px 20px #0404d6d8;
}

.btn {
  width: 60px;
  height: 40px;
  border: none;
  border-radius: 5px;
  margin-right: 7px;
  transition: 0.8s;
}

.btn:hover {
  background-color: rgb(209, 208, 208);
  box-shadow: 2px 2px 20px #0404d6d8;
  cursor: pointer;
}

/*modal*/

.modal-container {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
}

.drink-img-modal {
  width: 200px;
  height: 200px;
  border-radius: 5px;
}
.modal {
  position: relative;
  width: 700px;
  height: 500px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.top {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.ingredients-names {
  text-align: center;
}
.ingredients-table,
th,
td {
  padding: 8px;
  border: 1px solid black;
}
.modal-ingredients {
  display: flex;
  justify-content: space-between;
  width: 70%;
}
.recipe-container {
  margin: 0 20px;
  text-align: center;
}

.show {
  display: flex;
}
.hide {
  display: none;
}
/* Botão show */
.modal-close {
  width: 50px;
  height: 50px;
  border-radius: 2px;
  outline: none;
  border: none;
  position: absolute;
  top: -30px;
  right: -30px;
  background-color: var(--dark-blue);
  color: white;
  cursor: pointer;
}

#footer {
  border-top: 1px solid black;
  display: flex;
  padding: 15px;
  justify-content: center;
  text-align: center;
  width: 100%;
  background-color: var(--dark-blue);
  color: white;
}